<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sponsor Dashboard</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/sponsor/dashboard.css') }}"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SPONSOR DASHBOARD</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('sponsor.dashboard')}}"
                                >HOME</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('sponsor.profile')}}"
                                >PROFILE</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('sponsor.influencers')}}"
                                >INFLUENCERS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('sponsor.campaigns')}}"
                                >CAMPAIGNS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('sponsor.stats')}}"
                                >STATS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.logout')}}"
                                >LOGOUT</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="app" class="container mt-5">
            <div v-if="loading" class="text-center">Loading...</div>
            <div v-if="!loading">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <img
                                src="{{ url_for('static', filename='img/path_to_profile_picture.webp') }}"
                                alt="Profile Picture"
                                class="img-fluid rounded-circle mb-3"
                            />
                        </div>
                        <div>
                            <p class="text-white">
                                <strong>ID:</strong> ${ id }
                            </p>
                            <p class="text-white">
                                <strong>Username:</strong> ${ username }
                            </p>
                            <p class="text-white">
                                <strong>Company:</strong> ${ company }
                            </p>
                            <p class="text-white">
                                <strong>Budget:</strong> $${ budget.toFixed(2) }
                            </p>
                        </div>
                    </div>
                    <div class="col-9">
                        <h3 class="text-white">Active Ads</h3>
                        <ul class="list-group mb-3">
                            <li
                                v-for="campaign in activeCampaigns"
                                class="list-group-item d-flex justify-content-between align-items-center"
                                :class="{'bg-danger':campaign.Flag}"
                            >
                                <span class="text-black"
                                    ><a class="tt text-black"
                                        >${campaign.Ad_ID.toString().padStart(10,
                                        '0')} </a
                                    >${ campaign.Topic }</span
                                >
                                <button
                                    class="btn btn-primary"
                                    @click="viewCampaign(campaign)"
                                >
                                    View
                                </button>
                            </li>
                        </ul>
                        <h3>Pending Ads</h3>
                        <ul class="list-group mb-3">
                            <li
                                v-for="campaign in pendingCampaigns"
                                class="list-group-item d-flex justify-content-between align-items-center"
                                :class="{'bg-danger':campaign.Flag}"
                            >
                                <span class="text-black"
                                    >${ campaign.Topic }</span
                                >
                                <div>
                                    <button
                                        class="btn btn-primary mr-2"
                                        @click="viewCampaign(campaign)"
                                    >
                                        View
                                    </button>
                                    <button
                                        class="btn btn-danger"
                                        @click="deleteCampaign(campaign.Campaign_ID, campaign.Ad_ID)"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div
                class="modal fade"
                id="campaignModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="campaignModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5
                                class="modal-title text-black"
                                id="campaignModalLabel"
                            >
                                <strong>${ modalCampaign.Topic }</strong>
                                <small>${ modalCampaign.Ad_ID }</small>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-2 text-black">
                                        <b>Campaign ID:</b>
                                        ${modalCampaign.Campaign_ID}
                                    </div>
                                    <div class="mb-2 text-black">
                                        <b>Sponsor ID:</b>
                                        ${modalCampaign.Influencer_ID}
                                    </div>
                                    <!-- <div class="mb-2 text-black">
                                        <b>Description:</b>
                                        ${modalCampaign.Description}
                                    </div> -->
                                    <div class="mb-2 text-black">
                                        <b>Messages:</b>
                                        ${modalCampaign.Messages}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2 text-black">
                                        <b>Requirements:</b>
                                        ${modalCampaign.Requirements}
                                    </div>
                                    <div class="mb-2 text-black">
                                        <b>Payment Amount:</b>
                                        ${modalCampaign.Payment_Amount}
                                    </div>
                                    <!-- <div class="mb-2 text-black">
                                        <b>Dates:</b>
                                        ${modalCampaign.Start_Date} to
                                        ${modalCampaign.End_Date}
                                    </div> -->
                                </div>
                            </div>
                            <div class="modal-footer pb-0 pr-0">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/sponsor/dashboard.js') }}"></script>
    </body>
</html>
