<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Dashboard</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/admin/influencers.css') }}"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ADMIN DASHBOARD</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('admin.dashboard')}}"
                                >HOME</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('admin.influencers')}}"
                                >INFLUENCERS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('admin.sponsors')}}"
                                >SPONSORS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('admin.campaigns')}}"
                                >CAMPAIGNS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('admin.admins')}}"
                                >ADMINS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.logout')}}"
                                >LOGOUT</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="app" class="container mt-5">
            <div v-if="loading" class="text-center">Loading...</div>
            <div v-if="!loading">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <img
                                src="{{ url_for('static', filename='img/path_to_profile_picture.webp') }}"
                                alt="Profile Picture"
                                class="img-fluid rounded-circle mb-3"
                            />
                        </div>
                        <div>
                            <p class="text-white">
                                <strong>ID:</strong> ${ id }
                            </p>
                            <p class="text-white">
                                <strong>Username:</strong> ${ username }
                            </p>
                            <p class="text-white">
                                <strong>Position:</strong> ${ position }
                            </p>
                        </div>
                    </div>
                    <div class="col-9">
                        <h3 class="text-white">Influencers</h3>
                        <ul class="list-group mb-3">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center text-black"
                                v-for="influencer in influencers"
                                :key="influencer.Influencer_ID"
                                :class="{'bg-danger':influencer.Flag}"
                            >
                                <div>
                                    <a class="tt text-black"
                                        >${influencer.Influencer_ID.toString().padStart(10,
                                        '0')}</a
                                    >
                                    ${ influencer.Full_Name }
                                </div>
                                <button
                                    class="btn btn-primary"
                                    @click="viewInfluencer(influencer)"
                                >
                                    View
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Influencer Modal -->
            <div
                class="modal fade"
                id="influencerModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="influencerModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5
                                class="modal-title text-black"
                                id="influencerModalLabel"
                            >
                                ${ modalInfluencer.Full_Name }
                            </h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-black">
                                <strong>Influencer ID:</strong> ${
                                modalInfluencer.Influencer_ID }
                            </p>
                            <p class="text-black">
                                <strong>Username:</strong> ${
                                modalInfluencer.Username }
                            </p>
                            <p class="text-black">
                                <strong>Full Name:</strong> ${
                                modalInfluencer.Full_Name }
                            </p>
                            <p class="text-black">
                                <strong>Country Code:</strong> ${
                                modalInfluencer.Country_Code }
                            </p>
                            <p class="text-black">
                                <strong>Phone:</strong> ${ modalInfluencer.Phone
                                }
                            </p>
                            <p class="text-black">
                                <strong>Niche:</strong> ${ modalInfluencer.Niche
                                }
                            </p>
                            <p class="text-black">
                                <strong>Reach:</strong> ${ modalInfluencer.Reach
                                }
                            </p>
                            <p class="text-black">
                                <strong>Flagged:</strong> ${
                                modalInfluencer.Flag }
                            </p>
                            <div class="modal-footer pb-0 pr-0">
                                <button
                                    v-if="modalInfluencer.Flag"
                                    type="button"
                                    class="btn btn-success"
                                    data-dismiss="modal"
                                    @click="deflagInfluencer(modalInfluencer.Influencer_ID)"
                                >
                                    Deflag
                                </button>
                                <button
                                    v-if="!modalInfluencer.Flag"
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                    @click="flagInfluencer(modalInfluencer.Influencer_ID)"
                                >
                                    Flag
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/admin/influencers.js') }}"></script>
    </body>
</html>
