<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Influencer Data</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/influencer/profile.css') }}"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">INFLUENCER DASHBOARD</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('influencer.dashboard')}}"
                                >HOME</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('influencer.profile')}}"
                                >PROFILE</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('influencer.sponsors')}}"
                                >SPONSORS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('influencer.find_campaign')}}"
                                >CAMPAIGNS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('influencer.stats')}}"
                                >STATS</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.logout')}}"
                                >LOGOUT</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="app" class="container mt-5">
            <div v-if="loading" class="text-center">Loading...</div>
            <div v-if="!loading">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <img
                                src="{{ url_for('static', filename='img/path_to_profile_picture.webp') }}"
                                alt="Profile Picture"
                                class="img-fluid rounded-circle mb-3"
                            />
                        </div>
                        <div>
                            <p><strong>ID:</strong> ${ id }</p>
                            <p><strong>Username:</strong> ${ username }</p>
                            <p><strong>Rating:</strong> ${ averageRating }</p>
                            <p>
                                <strong>Earnings:</strong> $${ totalEarnings }
                            </p>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card p-3 shadow-lg">
                            <div
                                v-for="(value, key) in influencerData"
                                :key="key"
                                class="row"
                            >
                                <div
                                    class="col-3 mb-2"
                                    v-if="key !== 'Country_Code' && key !== 'Phone' && key !== 'Platform'"
                                >
                                    <strong>${ key.replace("_"," ") }</strong>
                                </div>
                                <div
                                    class="col-6 mb-2"
                                    v-if="key !== 'Country_Code' && key !== 'Phone' && key !== 'Platform' && key !== 'Influencer_ID'"
                                >
                                    <span v-if="!editMode">${ value }</span>
                                    <input
                                        v-else
                                        v-model="editValues[key]"
                                        class="form-control"
                                    />
                                </div>
                                <div
                                    class="col-6 mb-2"
                                    v-if="key === 'Influencer_ID'"
                                >
                                    <span v-if="!editMode">${ value }</span>
                                    <input
                                        readonly
                                        v-else
                                        v-model="editValues[key]"
                                        class="form-control"
                                    />
                                </div>
                                <div
                                    class="col-3 mb-2"
                                    v-if="key == 'Country_Code' && key !== 'Phone'"
                                >
                                    <strong> Phone Number </strong>
                                </div>
                                <div
                                    class="col-6 mb-2"
                                    v-if="key == 'Country_Code' && key !== 'Phone'"
                                >
                                    <span v-if="!editMode"
                                        >+${ influencerData.Country_Code } ${
                                        influencerData.Phone }</span
                                    >
                                    <div v-else class="input-group">
                                        <span class="input-group-text">+</span>
                                        <input
                                            v-model="editValues['Country_Code']"
                                            class="form-control"
                                            style="max-width: 100px"
                                        />
                                        <input
                                            v-model="editValues['Phone']"
                                            class="form-control"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">
                                    <strong>Platform Presence</strong>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div
                                            v-if="!editMode"
                                            class="col-6 mb-2"
                                        >
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-danger': influencerData.Platform.Youtube, 'btn-outline-danger': !influencerData.Platform.Youtube}"
                                            >
                                                YouTube
                                            </button>
                                        </div>
                                        <div
                                            v-if="!editMode"
                                            class="col-6 mb-2"
                                        >
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-primary': influencerData.Platform.Twitter, 'btn-outline-primary': !influencerData.Platform.Twitter}"
                                            >
                                                Twitter
                                            </button>
                                        </div>
                                        <div
                                            v-if="!editMode"
                                            class="col-6 mb-2"
                                        >
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-warning': influencerData.Platform.Instagram, 'btn-outline-warning': !influencerData.Platform.Instagram}"
                                            >
                                                Instagram
                                            </button>
                                        </div>
                                        <div
                                            v-if="!editMode"
                                            class="col-6 mb-2"
                                        >
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-secondary': influencerData.Platform.Others, 'btn-outline-secondary': !influencerData.Platform.Others}"
                                            >
                                                Others
                                            </button>
                                        </div>
                                        <div v-if="editMode" class="col-6 mb-2">
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-danger': editValues.Platform.Youtube, 'btn-outline-danger': !editValues.Platform.Youtube}"
                                                @click="togglePlatform('Youtube')"
                                            >
                                                YouTube
                                            </button>
                                        </div>
                                        <div v-if="editMode" class="col-6 mb-2">
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-primary': editValues.Platform.Twitter, 'btn-outline-primary': !editValues.Platform.Twitter}"
                                                @click="togglePlatform('Twitter')"
                                            >
                                                Twitter
                                            </button>
                                        </div>
                                        <div v-if="editMode" class="col-6 mb-2">
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-warning': editValues.Platform.Instagram, 'btn-outline-warning': !editValues.Platform.Instagram}"
                                                @click="togglePlatform('Instagram')"
                                            >
                                                Instagram
                                            </button>
                                        </div>
                                        <div v-if="editMode" class="col-6 mb-2">
                                            <button
                                                type="button"
                                                class="btn w-100"
                                                :class="{'btn-secondary': editValues.Platform.Others, 'btn-outline-secondary': !editValues.Platform.Others}"
                                                @click="togglePlatform('Others')"
                                            >
                                                Others
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button
                                    v-if="!editMode"
                                    class="btn btn-primary"
                                    @click="enableEdit"
                                >
                                    Edit
                                </button>
                                <div v-else>
                                    <button
                                        class="btn btn-success"
                                        @click="saveChanges"
                                    >
                                        Save
                                    </button>
                                    <button
                                        class="btn btn-secondary ml-2"
                                        @click="cancelEdit"
                                    >
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{{ url_for('static', filename='js/influencer/profile.js') }}"></script>
    </body>
</html>
